*{
    box-sizing: border-box;
}
header,footer{
    width:100%;
    height:100px;
    clear:both;
    border:3px solid black;
}
section{
    height:300px;
    float:left;
    border:3px solid black;
}
.onesec{
    width:15%;
}
.twosec{
    width:35%;
}